* {
    font-family: 'Lato';
}
.btn-signup {
    margin: 0 auto;
    background: #43978d;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.btn-signup:hover {
    background: rgba(249, 173, 106, 0.7049413515406162) 100%;
    color: #333;
    border: none;
}
.inputbox h3 {
    text-align: center;
}
.form-signup {
    width: 60%;
    background: white;
    padding: 3rem 4rem;
    border-radius: 16px;
    height: 80%;
    overflow-y: scroll;
}
.form-signup p {
    color: #333;
}
.inputbox input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(250, 223, 187, .5);
    border-radius: 5px;
    padding: 0.6rem;
}
.inputbox input::placeholder {
    color: #fff;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

label {
        display: block;
        margin-top: 1rem;
        font-weight: bold;
    }
select,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    }
select {
    height: 30px;
    margin: 5px;
}
textarea {
    height: 100px;
    resize: vertical;
}
option {
    padding: 5px;
}
table {
    width: 80%;
    text-align: center;
}

th,
td {
    padding: 8px;
}

th:nth-child(2),
td:nth-child(3) {
    padding-left: 10px; 
}
.error {
    color: red;
}
@media (max-width: 768px) {
    table,
    form {
      width: 95%;
    }
  
    input[type="text"],
    textarea {
      width: 75%;
    }
  
    table,
    table th,
    table td,
    table tr,
    table tbody,
    table thead,
    table tfoot {
      display: block;
    }
  
    table tr {
      border-bottom: none;
    }
  
    table th {
      display: none;
    }
  
    table td {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
  
    .btn-signup {
      width: 100%;
    }
  }
  




