$shadow: 3px 0px 29px -16px rgba(0, 0, 0, 0.75);

aside {
    background: white;
    font-family: Montserrat;
    display: none;
    height: 100vh;
    min-width: 20%;
    box-shadow: $shadow;
    z-index: 1;

    .profile_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        width: 90%;
        margin: 0 auto;

        &-img {
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
            background-color: #264d59;
        }

        button {
            border: none;
            width: 60%;
        }
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        a {
            color: #264d59;
            padding: 1rem 0;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;

            &:hover {
                background-color: #d46c4e;
                color: white;
                cursor: pointer;
            }
        }
        .selected {
            color: #d46c4e;
            background-color: lightgrey;
        }
    }
}

.topBar {
    background: linear-gradient(-45deg, #264d59, #43978d);
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.burger-menu {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    .burger {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: black;
        transform-origin: 1px;
        transition: all 0.3s linear;
    }
}

@media screen and (min-width: 768px) {
    .topBar {
        display: none;
    }
    aside {
        display: inline;
    }

}

.display {
    display: inline;
}


