* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    height: 100vh;
    font-family: Lato;
}

aside {
    background: linear-gradient(45deg, #264d59, #43978d);
    font-family: Montserrat;
    height: 100%;
    width: 20%;
    .profile_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 90%;
        margin: 0 auto;
        button {
            border: none;
            width: 60%;
        }
    }
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        a {
            color: white;
            padding: 1rem 0;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            &:hover {
                background-color: white;
                color: #264d59;
                cursor: pointer;
            }
        }
    }
}

main {
    flex: 1;
    .main_container {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(5, 1fr);
        height: 100%;
        width: 100%;
    }
    .active_requests {
        background-color: lightgrey;
        grid-area: 1 / 1 / 2 / 6;
        margin: 2rem;
    }
    .calendar_view {
        background-color: lightgrey;
        grid-area: 2 / 1 / 4 / 3;
        margin: 2rem;
    }
    .pending_requests {
        background-color: lightgrey;
        grid-area: 2 / 3 / 4 / 6;
        margin: 2rem;
    }
}



