$shadow: 3px 0px 29px -16px rgba(0, 0, 0, 0.75);

h2 {
    font-family: Montserrat;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

// aside {
//     background: white;
//     font-family: Montserrat;
//     height: 100vh;
//     width: 20%;
//     box-shadow: $shadow;

//     .profile_card {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         height: 200px;
//         width: 90%;
//         margin: 0 auto;

//         button {
//             border: none;
//             width: 60%;
//         }
//     }

//     .navigation {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         width: 100%;

//         a {
//             color: #264d59;
//             padding: 1rem 0;
//             text-align: center;
//             text-decoration: none;
//             text-transform: uppercase;
//             width: 100%;

//             &:hover {
//                 background-color: #d46c4e;
//                 color: white;
//                 cursor: pointer;
//             }
//         }
//     }
// }

main {
    flex: 1;
    // display: grid;
    // grid-template: repeat(3, 1fr) / repeat(5, 1fr);
    // overflow: hidden;
    height: 100vh;
}
    .active_requests {
        background: linear-gradient(-45deg, #264d59, #43978d);
        border-radius: 16px;
        gap: 1rem;
        grid-area: 1 / 1 / 2 / 6;
        margin: 2rem;
        padding: 1rem;
        &_cards {
            display: flex;
            flex-direction: flex-start;
            gap: 1rem;
            width: 100%;
        }

        &_card {
            background-color: rgba(255, 255, 255, 0.45);
            border-radius: 8px;
            font-size: 0.8rem;
            padding: 1rem;
            width: 300px;

            &-title {
                font-family: Montserrat;
                font-size: 1.2rem;
            }

            &-desc {
                font-family: Lato;
                line-height: 1.2rem;
            }
        }
    }

    .calendar_view {
        background-color: lightgrey;
        grid-area: 2 / 1 / 4 / 3;
        margin: 2rem;
    }

    .pending_requests {
        background-color: lightgrey;
        grid-area: 2 / 3 / 4 / 6;
        margin: 2rem;
    }
// }

.profile_container {
    background-color: white;
    border-radius: 16px;
    box-shadow: $shadow;
    min-height: 80%;
    padding: 3rem;
    width: 80%;
    margin: 0 auto;
    h2, h3 {
        color: #43978d;
    }
    h3 {
        border-bottom: 1px solid #43978d;
    }
    &--section {
        margin: 1rem 0;
        line-height: 2rem;
        &-bold{
            font-weight: 700;
            margin: 1rem 0;
            position: relative;
            span {
                font-weight: 400;
                left: 150px;
                position:absolute;
            }
        }
    }
}

.requests_view {
    background-color: white;
    border-radius: 16px;
    box-shadow: $shadow;
    margin: 2rem 4rem;
    // height: 80%;
    grid-area: 1 / 1 / 5 / 5;
    overflow-y: scroll;
    padding: 3rem;

    h2 {
        color: #43978d;
    }
    form {
        display: flex;
        flex-direction: column;
        input {
            border: none;
            border-bottom: 1px solid black;
            margin: 1rem;
            padding: 0.6rem;
            &:focus {
                outline: none;
                border-bottom: 1px solid #d46c4e;
            }
        }
        button {
            background-color: #d46c4e;
            border: none;
            color: white;
            cursor: pointer;
            padding: 1rem;
            margin: 0 auto;
            width: 50%;
            &:hover {
                background-color: #43978d;
            }
        }
    }
}

.requests_sideMenu {
    border-radius: 16px;
    width: 250px;
    overflow-y: scroll;
    grid-area: 1 / 5 / 5 / 6;
    margin: 2rem;
    .postRequestsBtn {
        background-color: #264d59;
        color: white;
        text-align: center;
        height: 50px;
        padding-top: 1rem;
    }
    .requestsList {
        background-color: white;
        height: 150px;
        margin: 20px 0;
    }
}

