@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,400&family=Open+Sans:wght@400;700&family=PT+Serif&family=Sofia&display=swap');
* {
    box-sizing: border-box;
  }
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Lato';
  }

button {
    margin: 0.3rem;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    background-color: #43978d;
    border: none;
    cursor: pointer;
    color: whitesmoke;
  }
button:hover {
  background-color: rgba(249, 173, 106, 0.7049413515406162) 100%;
  color: #333;
}
.untaken_requests {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 50px;
}
.requests.untaken_requests_card {
    .request {
      position: relative;
    }
    .request::before {
      background-image: linear-gradient(300deg, rgba(38, 77, 89, 1) 21%, rgba(67, 151, 141, 1) 68%, rgba(249, 173, 106, 0.7049413515406162) 100%);
      border-radius: 5px;
      box-shadow: 2px 0px 20px rgba(0, 0, 0, .1);
      bottom: 45px;
      content: '';
      left: -45px;
      position: absolute;
      right: 45px;
      top: -25px;
    }
    .request__block--main {
        background-color: whitesmoke;
        border-radius: 5px;
        box-shadow: 2px 5px 25px rgba(0, 0, 0, .15);
        padding: 20px;
        padding-top: 30px;
        position: relative;
        z-index: 2;
      }
      .request__title {
        font-weight: light;
        line-height: 1.1;
        margin: 0;
      }
      .request__text {

        display: block;/* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.8em;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
      } 
}
.untaken_requests_cards {
    display: grid;
    grid-auto-flow: row dense;
    grid-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 35px;
  }


  