* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
li, a, button {
    color: antiquewhite;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}