$primary_color: linear-gradient(300deg, rgba(38, 77, 89, 1) 21%, rgba(67, 151, 141, 1) 68%, rgba(249, 173, 106, 0.7049413515406162) 100%);
$primary_font: Lato;
  
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: $primary_font;
}
.custom-navbar {
    background-color: #fff;
}

.logo {
    cursor: pointer;
    height: 50px;
    z-index: 1;
}
// a:hover {
//     background-color: #43978d;;
// }
a:hover {
    background-color: #43978d;;
}
header {
  div {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    font-size: 24px;
        ul {
            align-items: center;
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
            li{
                margin:0 10px
            } 
                a {
                    text-decoration: none;
                    color: #333;
                    font-weight: bold;
                    margin-left: auto;
                }
    }
   
}

.banner {
    position: relative;
    height: 80vh;
}
.banner::before {
    content: "";
    position: absolute;
    background: $primary_color;
    background-size: cover;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    // opacity: 0.75;
    z-index: 1;
}
.banner-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 100px;
    color: whitesmoke;
    font-weight: bolder;
    line-height: 2;
    width: 60%;
    margin: 0 auto;  
}
.banner-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.banner-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.tags {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.description,
.feedback {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.description p {
    width: 80%;
}
.description-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: justify;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
}
.card-header h3 {
    font-size: 15px;
}
.card-title {
    text-align: center;
    font-weight: bolder;
}
.card-img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    border: 2px solid grey;
    margin-right: 10px
}
.card-lead {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
    opacity: 50%;
}

// slider
.carousel-item {
    position: relative;
  }

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 1;
  }
.carousel-image {
    height: auto;
    max-height: 80vh;
    object-fit: contain;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 2;
    text-align: center;
    width: 70%; 
  }
.btn {
    width: 90px;
    height: 30px;
    color: antiquewhite;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}
.signup-btn:hover {
    background-color: #43978d;
}
.card-img-top {
    height: auto;
    width: 100px;
    width: 60px;
    object-fit: contain;
    margin: 0 auto;
    
}
.boxes {
    height: 450px;
    width: 450px;
    padding: 10px;
    justify-content: center;

}
.feedback {
    background-color: #f7f7f7;
    padding: 50px;
    text-align: center;
}

.feedback-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feedback-container .col-md-4 {
    margin-right: 30px;
}
.feedback-container img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

.feedback-container .card {
    max-width: 540px;
    width: 100%;
}

.feedback-container .card-body {
    padding: 30px;
}

.feedback-container .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.feedback-container .card-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.feedback-container .text-body-secondary {
    color: #888;
}

//footer styling

footer {
        background-image: $primary_color;
        cursor: pointer;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 20px;
        }
      } a {
        margin-right: 10px;
        text-decoration: none;
        color: #333;
      }
footer input[type="email"] {
        margin-top: 10px;
        padding: 5px;
        width: 200px;
      }
footer .btn {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
      }
.contact,
.faq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.copyright {
   text-align: center;
}


