// $primary_color: linear-gradient(
//     300deg,
//     rgba(38, 77, 89, 1) 21%,
//     rgba(67, 151, 141, 1) 68%,
//     rgba(249, 173, 106, 0.7049413515406162) 100%
// );
$primary_font: Lato;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}

.btn {
    width: 90px;
    height: 30px;
    color: antiquewhite;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #43978d;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}
.custom-navbar {
    background-color: #fff;
    font-family: Montserrat;
}
.navbar-nav .nav-link:hover {
    color: #333;
    background-color: rgba(249, 173, 106, 1); 
    
}
.logo {
    cursor: pointer;
    height: 50px;
    z-index: 1;
}

header {
    div {
        // display: grid;
        // grid-template-columns: auto 1fr auto auto;
        // align-items: center;

        ul {
            align-items: center;
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
        li {
            margin: 0 10px;
        }
        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            margin-left: auto;
        }
        a:hover {
            color: #43978d;
        }
    }
}

.banner {
    position: relative;
    padding: 3.5%;
    min-height: 70vh;
    background: url('/public/img/TeamWork.svg') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    // align-items: center;
}
.about-us-content {
    width: 80%;
    margin: 100px auto;

}
// .banner::before {
//     content: "";
//     position: absolute;
//     background: $primary_color;
//     background-size: cover;
//     top: 0px;
//     width: 100%;
//     height: 100%;
//     left: 0px;
    // opacity: 0.75;
    // z-index: 1;
// }
.banner-content {
    position: relative;
    text-align: center;
    line-height: 2;
    width: 55%;
    margin: 0 auto;
}
.banner-content h1 {
    font-family: Montserrat;
    font-size: 36px;
}
.banner-content p {
    font-family: Lato;
}

.tags {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


.description,
.feedback {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 0;
    gap: 5rem;
    padding: 5% 0;
}
.description-text {
    width: 80%;
}
.description-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-title {
    font-family: Montserrat;
    text-align: center;
    font-weight: bolder;
}
.card-img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    border: 2px solid grey;
    margin-right: 10px;
}

.card-text {
    text-align: center;
}


.signup-btn:hover {
    background-color: #333;
}
.card-img-top {
    height: auto;
    width: 100px;
    width: 60px;
    object-fit: contain;
    margin: 0 auto;
}

.boxes {
    height: 450px;
    width: 450px;
    padding: 10px;
    justify-content: center;
}
.feedback {
    position: relative;
    padding: 3.5%;
    margin-top: 0;
    min-height: 80vh;
    background: url('/public/img/Team Work4.svg') no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
} 

.feedback-container {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    top: 50px;
    max-width: 500px;
    // background-color:rgba(17, 12, 46, 0.15);
    border-radius: 15px;
    padding: 5%;
}

.about-us {
    display: flex;
        width: 80%;
    // flex-direction: row;
    // margin-left: 5rem;
    gap: 100px;
    margin: 50px auto;
    // padding: 50px;
}
.about-us .content_left {
    // order: 1;
}
.about-us .content_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-us img {
    // max-height: 300px;
    width: 100%;
    border-radius: 15px;
    // margin-right: 5rem;
}
//footer styling

footer {
    background-color: #333;
    color: whitesmoke;
    cursor: pointer;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
}
a {
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke
}
footer input[type="email"] {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
}
footer .btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #43978d;
    color: #fff;
    border: none;
    cursor: pointer;
}
.contact,
.faq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.copyright {
    text-align: center;
}

@media (max-width: 768px) { 
    .carousel-caption {
        transform: translate(-50%, -50%);
        display: block;
}
footer {
    div {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}
    .contact,
    .faq,
    .copyright {
        align-items: center;
    }
 
header {
    div {
      ul {
        display: none;
      }
    }
    
    .navbar-brand {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .navbar-toggler {
      display: block;
    }
    // .navbar-toggler-icon {
    //     outline: none;
    //     box-shadow: none;
    //     border: none;
    // }
    button.navbar-toggler:focus { outline: 1px none; }
    
    // button.navbar-toggler.ml-auto.hidden-sm-up.float-xs-right:focus {
    //     outline: none!important;
    // }
    .collapse.navbar-collapse {
      display: none;
    }
    .nav-link {
      display: none;
    }
    .collapse.navbar-collapse.show {
      display: block;
      
    }
    .navbar-nav .nav-link {
      display: block;
      text-align: center;
      margin: 10px auto;
    }
    .login-link {
        display: inline-block;
      }
  
    }
    .about-us {
      flex-direction: column;
        padding: 1rem;
    }
}
  
