.competence {
    display: flex;
    gap: 2rem;
    div {
        flex-grow: 1;
    }
    section {
        display:flex;
       align-items: center; 
    }
    &>* {
        box-sizing: border-box
    };
}