.confirmed-requests {
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
    width: 80%;
}

.confirmed-request-card {
    background-color: white;
    border-radius: 8px;
    height: 120px;
    margin: 1rem;
    padding: 0.6rem;
    width: 250px;
    .confirmed-request {
        &-title {
            font-family: Montserrat;
            font-weight: 700;
        }
        &-info {
            display: flex;
            flex-direction: column;
        }
    }
}