.dashboard-header {
    background: linear-gradient(-45deg, #264d59, #43978d);
    color: white;
    min-height: 300px;
    text-align: center;
    width: 100%;
}

.dashboard-date {
    text-transform: uppercase;
    text-align: right;
    padding: 1rem;
}
.dashboard-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .dashboard-body {
        flex-direction: column;
    }
}